In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [2]:
table_sunshine = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration')

In [4]:
len(table_sunshine)

9

In [24]:
continents = ["Africa","Asia","Europe","North America","South America","Oceania"]

In [42]:
all_sunshine = table_sunshine[2]
all_sunshine['Continent'] = continents[0]
c=1
for t in range(3,8):
    table_c = table_sunshine[t]
    table_c['Continent'] = continents[c]
    all_sunshine = pd.concat([all_sunshine,table_c])
    c+=1

In [43]:
all_sunshine=all_sunshine.drop(columns='Ref.')

In [44]:
col = all_sunshine.pop("Continent")
all_sunshine.insert(0, col.name, col)

In [57]:
all_sunshine

,Continent,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Day
0,Africa,Ivory Coast,Gagnoa,183.0,180.0,196.0,188.0,181.0,118.0,97.0,80.0,110.0,155.0,171.0,164.0,1823.0,4.994521
1,Africa,Ivory Coast,Bouaké,242.0,224.0,219.0,194.0,208.0,145.0,104.0,82.0,115.0,170.0,191.0,198.0,2092.0,5.731507
2,Africa,Ivory Coast,Abidjan,223.0,223.0,239.0,214.0,205.0,128.0,137.0,125.0,139.0,215.0,224.0,224.0,2296.0,6.290411
3,Africa,Ivory Coast,Odienné,242.0,220.2,217.3,214.7,248.8,221.8,183.5,174.5,185.4,235.8,252.0,242.6,2638.6,7.229041
4,Africa,Ivory Coast,Ferké,279.0,249.0,253.0,229.0,251.0,221.0,183.0,151.0,173.0,245.0,261.0,262.0,2757.0,7.553425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,Oceania,New Zealand,Wellington,240.3,205.0,194.7,153.8,126.0,102.3,111.4,137.2,163.2,191.1,210.8,222.9,2058.7,5.640274
19,Oceania,New Zealand,Hamilton,229.8,192.9,193.3,165.1,138.3,112.8,126.4,144.1,147.5,174.8,187.1,207.6,2019.6,5.533151
20,Oceania,New Zealand,Auckland,228.8,194.9,189.2,157.3,139.8,110.3,128.1,142.9,148.6,178.1,188.1,197.2,2003.1,5.487945
21,Oceania,Fiji,Suva,192.2,178.0,170.5,153.0,145.7,141.0,136.4,142.6,135.0,164.3,168.0,195.3,1922.0,5.265753
22,Oceania,New Zealand,Dunedin,179.6,158.0,146.1,125.9,108.4,95.3,110.6,122.2,136.8,165.5,166.9,168.3,1683.7,4.612877

In [53]:
all_sunshine['Day'] = all_sunshine['Year']/365

In [58]:
all_sunshine.to_csv('world_sunshine.csv', index=False)